body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.board-container {
  background: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  position:absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-info{
  background-color: none;
  text-align: center;
}

.board-info p {
  text-transform: uppercase;
  font-weight: 700;
}

.board-list{
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}

.board-list button {
  width: 130px;
  margin-right: 3px;
  height: 130px;
  background-color: white;
  border: 1px solid black;
  font-size: 80px;
  font-weight: 700;
}

.board-list button:hover {
  background-color: #8CE3E7;
}

button.disabled {
  pointer-events: none;
  background-color: lightgrey;
}
